name: CI/CD

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.action.outputs.image }}
      image-exists: ${{ steps.image.outputs.exists }}
      image-version: ${{ steps.action.outputs.version }}

    steps:
      - name: Setup Ubuntu
        run: sudo apt-get install language-pack-en language-pack-de

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Checkout
        uses: actions/checkout@v2

      - name: Extract action image and version
        id: action
        run: |
          image=$(grep -A 10 "^runs:" action.yml | grep -E "\s+image: 'docker://ghcr.io/enricomi/publish-unit-test-result-action:" | sed -E -e "s/^\s+image:\s*'docker:\/\///" -e "s/'\s*$//")
          version=$(cut -d : -f 2 <<< "$image")
          echo "::set-output name=image::$image"
          echo "::set-output name=version::$version"
        shell: bash

      - name: Check action image existence
        id: image
        run: |
          if docker pull '${{ steps.action.outputs.image }}'
          then
            echo "::set-output name=exists::true"
          fi
        shell: bash

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade --force --no-cache-dir pip
          pip install --force --no-cache-dir -r requirements.txt
          pip install --force --no-cache-dir pytest mock

      - name: PyTest
        env:
          PYTHONPATH: ..
        run: |
          cd test
          python -m pytest --capture=tee-sys --continue-on-collection-errors --junit-xml ../test-results/pytest.xml

      - name: Prepare publish action from this branch
        id: prepare-publish
        # we run the action from this branch whenever we can (when it runs in our repo's context)
        if: >
          always() &&
          ( steps.action.outputs.image == 'Dockerfile' || steps.image.outputs.exists == 'true' ) &&
          github.event.sender.login != 'dependabot[bot]' &&
          ( github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository )
        run: |
          sed --in-place "s/image: .*/image: 'Dockerfile'/" action.yml

      - name: Publish Unit Test Results
        if: always() && steps.prepare-publish.outcome != 'skipped'
        uses: ./
        with:
          check_name: Unit Test Results (this branch)
          files: "test-results/*.xml"

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results
          path: |
            test-results/*.xml
            unit-test-results.json

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Run Buildx
        run: docker buildx build --output "type=image,push=false" .

  deploy:
    name: Deploy to GitHub
    needs: build-and-test

    # deploy image actions from commits pushed to master and
    # deploy Dockerfile actions from pushed version tags (no major versions)
    # but not on forked repositories
    if: >
      github.event_name == 'push' && (
        needs.build-and-test.outputs.image != 'Dockerfile' && needs.build-and-test.outputs.image-exists != 'true' && github.ref == 'refs/heads/master' ||
        needs.build-and-test.outputs.image == 'Dockerfile' && startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.')
      ) &&
      github.repository_owner == 'EnricoMi'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker meta
        id: docker-meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: ghcr.io/EnricoMi/publish-unit-test-result-action
          tags: |
            type=sha
            type=ref,event=tag
            type=match,pattern=(v\d+),group=1
            type=match,pattern=(v\d+.\d+),group=1
            type=match,pattern=(v\d+.\d+.\d+),group=1
            type=semver,pattern=v{{major}},value=${{ needs.build-and-test.outputs.image-version }}.0
            type=semver,pattern=v{{major}}.{{minor}},value=${{ needs.build-and-test.outputs.image-version }}.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          tags: |
            ${{ steps.docker-meta.outputs.tags }}
          labels: |
            ${{ steps.docker-meta.outputs.labels }}
          pull: true
          push: true
