name: CI

on: [push]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup Ubuntu
      run: sudo apt-get install language-pack-en language-pack-de

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest

    - name: PyTest
      env:
        PYTHONPATH: ..
      run: |
        cd test
        python -m pytest --junit-xml ../test-results/pytest.xml

    - name: Unit Test Results
      if: always()
      uses: EnricoMi/publish-unit-test-result-action@branch-dont-show-trivial-runs
      with:
        check_name: Unit Test Results
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: "test-results/*.xml"
        log_level: DEBUG

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Unit Test Results
        path: |
          test-results/*.xml
          unit-test-results.json
