name: CI (PR)

on: [pull_request]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup Ubuntu
      run: sudo apt-get install language-pack-en language-pack-de

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade --force --no-cache-dir pip
        pip install --force --no-cache-dir -r requirements.txt
        pip install --force --no-cache-dir pytest

    - name: PyTest
      env:
        PYTHONPATH: ..
      run: |
        cd test
        python -m pytest --continue-on-collection-errors --junit-xml ../test-results/pytest.xml

    - name: Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@branch-pull-request
      if: always()
      with:
        check_name: Unit Test Results
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: "test-results/*.xml"
        log_level: DEBUG

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Unit Test Results
        path: |
          test-results/*.xml
          unit-test-results.json

    - name: Set up Docker Buildx
      uses: crazy-max/ghaction-docker-buildx@master

    - name: Run Buildx
      run: docker buildx build --output "type=image,push=false" .
