name: Test OS

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
jobs:
  test:
    name: Test (python-${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ${{ fromJson(inputs.os)[0] }}
            python-version: "3.7"
        os: ${{ fromJson(inputs.os) }}
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12.0-rc.3", "installed"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: OS
        run: |
          python -c "import sys; print(sys.platform)"

      - name: Test
        uses: ./.github/actions/test
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
